.description
{
font-weight:bold;color:#000000;letter-spacing:1pt;word-spacing:2pt;font-size:20px;text-align:left;font-family:courier new, courier, monospace;line-height:1;
margin-top:50px; margin-bottom:20px; padding-left:50px;
}